/** -*- coding: utf-8 -*-
 Odoo, Open Source Ballester Screen.
 License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). 
*/

/*  */
input[type=number]::-webkit-inner-spin-button {
  width: 50px;
  height: 50px;
}

#transfred_location + .select2-container--default{
  height: 200px;
}
